/* 설정 초기화 */
body{  
    background-color: rgb(5, 40, 63);
    margin: 0px; 
    padding: 0px;  
}
.logo{
   display: block;
   margin-left: 20px;
   margin-right: auto;
}
.top_menu{
    text-align: right;
    margin-top: 20px;
    margin-right: 20px;
}
/* main-Top */

/* main-side menu */
