/* 설정 초기화 */
body{
    margin: 0px;
    padding: 0px;
}
/* a태그 초기화 */
a:link {text-decoration: none; color: #333333;}
a:visited {text-decoration: none; color: #333333;}
a:active {text-decoration: none; color: #333333;}
a:hover {text-decoration: none;}

.container{
    background-color: rgb(242, 242, 186);
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
}

.top_menu{
    background-color: rgb(105, 105, 105);
    display: flex;
    width: 100%;
    height: 30px;
}

.inner_container{
    display: flex;
}

.side_menu{
    background-color:  rgb(130, 182, 132);
    width: 300px;
    height: 96vh;
}

.container_context{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(249, 215, 250)
}

.context_header{
    background-color: rgba(75, 175, 79);
    height: 100px;
}

.context_context{
    background-color: white;
    height: 100%;
}

.footer{
    background-color: rgb(105, 105, 105);
    height: 30px;
}

.profile{
  height: 150px;
  width: 100%;
  text-align: center;
}

.profile_img{
  display: inline-block;
  height: 150px;
  border-radius:50%; 
  margin:0 auto; 
  overflow:hidden;
}

.img_circle{
  height:auto;
  width:200px;
}